* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#encabezado {
    background-color: royalblue;
    margin: auto;
}

#menu {
    background-color: darkgoldenrod;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    #menu {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#menu a {
    font-size: medium;
    color: black;
    text-decoration: none;
    padding: 1em;
}

#menu a:hover {
    background-color: goldenrod;
    color: black;
}

#container {
    max-width: 70em;
    margin: 3em auto 3em auto;
    background-color: rgb(243, 243, 243);
    padding-bottom: 3em;
}

#pie {
    margin: .8em 0 0 0;
    background-color: royalblue;
    text-align: center; 
    font-size: 1.3em;
    font-weight: bold;
    padding: 1.3em;
    color: white;
}

.encabezadoPagina {
    text-align: center;
    color: white;
    padding: 50px;
}

.encabezadoArticulo {
    text-align: center;
    color: black;
    padding-top: 15px;
}


#contorno{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10em;
    row-gap: 3em;
    margin: 3em 0;
}

@media (max-width: 767px) {
    #contorno {
        display: block;
        margin: 1em 0;
    }

    .imagenes {
        text-align: center;
        margin: 3em 0;
    }
}

.imagenes {
    text-align: center;
}

.producto {
    margin-bottom: 1.2em;
}

.imgProducto {
    width: 200px;
    height: 200px;
}

.txtProd {
    text-align: center;
    font-size: medium;
}

ul {
    padding: 15px;
    text-align: center;
}

li {
    
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

a {
    font-family: Arial;
    color: white;
    font-size: 18px;
    text-decoration: none;
}