/*Panel de administración*/

* {
    padding: 0;
    margin: 0;
    font-family: Arial;
}

#encabezado {
    background-color: royalblue;
    margin: auto;
}

#menu {
    background-color: darkgoldenrod;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

@media (min-width: 768px) {
    #menu {
        flex-direction: row;
        justify-content: space-evenly;
    }
}

#menu a {
    font-size: medium;
    color: black;
    text-decoration: none;
    padding: 1em;
}

#menu a:hover {
    background-color: goldenrod;
    color: black;
}

#contenido {
    max-width: 70em;
    margin: 3em auto 3em auto;
    background-color: rgb(243, 243, 243);
    padding-bottom: 3em;
}

picture {
    display: flex;
    justify-content: center;
}

.imgInicio {
    width: 400px;
    height: 300px;
}

@media (max-width: 767px) {
   .imgInicio{
    width: 300px;
    height: 225px;
   }
}

#pie {
    margin: .8em 0 0 0;
    background-color: royalblue;
    text-align: center; 
    font-size: 1.3em;
    font-weight: bold;
    padding: 1.3em;
    color: white;
}

.encabezadoPagina {
    text-align: center;
    color: white;
    padding: 50px;
}

.encabezadoArticulo {
    text-align: center;
    color: black;
    padding-top: 15px;
}

.texto {
    text-align: center;
    margin: 1em;
    font-size: large;
}

ul {
    padding: 15px;
    text-align: center;
}

li {
    
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    text-align: center;
}

a {
    font-family: Arial;
    color: white;
    font-size: 18px;
    text-decoration: none;
}

#contenedor-formulario h2{
    text-align: center;
    font-size: 2em;
}

#formulario {
    background-color: rgb(243, 243, 243);
    width: min( 20em, 95% );
    margin: 1em auto;
    border-radius: .8em;
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.6);
}

#formulario fieldset {
    border: none;
}

#formulario legend {
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    padding-top: 1em;
    padding-bottom: 1em;
}

.campo {
    margin: 1em 2em 0 2em;
}


.input-text {
    height: 2em;
    width: 100%;
    border: none;
    border-radius: .3em;
    padding: 0.3em;
    font-size: medium;
}

.boton {
    background-color: goldenrod;
    color: black;
    text-decoration: none;
    border: none;
    font-size: 1em;
    font-weight: bold;
    padding: .6em;
    border-radius: .2em;
    margin: 1em 0 2em 2em;
}

.boton:hover {
    background-color: goldenrod;
    color: black;
    cursor: pointer;
}

#contenedor-boton {
    text-align: center;
    margin-right: 2em;
}

#campo1-2 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 1em 2em 0 2em;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 0.8em;
    row-gap: 3em;
}

#campo3 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 1em 2em 0 2em;
}

#campo4 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 1em 2em 0 2em;
}

#campo4 textarea{
    width: 100%;
    height: 12em;
    resize: vertical;
    border: none;
    border-radius: .3em;
}

#campo5 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 1em 2em 0 2em;
}

#campo6 {
    font-size: 1.2em;
    font-weight: normal;
    margin: 1em 2em 0 2em;
}

#archivo {
    border-radius: .3em;
    background-color: white;
}